body {
    margin: 0;
    padding: 0;
}

header {
    background-color:grey; 
    color: black; 
    padding: 20px;
}

h1{
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-around;
}

fieldset {
    margin-right: 15px;
    background-color: grey;
    border-color: grey;

}